@page "/video-player"
@using Pages.MealPlan

<PageTitle>Video Player</PageTitle>

@if(recipe != null)
{
    <iframe width="560" height="315" src="@recipe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
}
else
{
    <h1>No video availible</h1>
}

@code 
{
    [Parameter] public int recipeNumber { get; set; }
    string recipe { get; set; }
    protected override void OnInitialized()
    {
        if(recipeNumber == 1)
        {
            recipe = "https://www.youtube.com/embed/Rlu7Hwp71Y0";
        }
        else if(recipeNumber == 2)
        {
            recipe = "https://www.youtube.com/embed/jBoMTZIHqLc";
        }
        else
        {
            recipe = "https://www.youtube.com/embed/LWuuCndtJr0";
        }
    }
}
