################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChefM8/.vs
/ChefM8/bin
/ChefM8/obj
