body {
    padding: 10%;
}

#home-searchbar-container {
    margin: auto;
    width: 15%;
    height: 50px;
}

#fav-btn-container {
    float: right;
    margin-bottom: 1%;
}

#discover-section {
    display: block;
    width: 99%;
    height: 550px;
    margin: auto;
    background-color: #e07900;
    padding: 1%;
    overflow-x: scroll;
    white-space: nowrap;
}

.discover-item {
    display: inline-block;
    width: 800px;
    margin: 20px 10px;
    height: 90%;
    background: rgba(0, 0, 0, 0.05) no-repeat center center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    position: relative;
    cursor: pointer;
    transition: transform .2s;
}

    .discover-item:hover {
        transform: scale(1.01);
    }

/*.discover-item button {
    position: absolute;
    border: none;
    height: 45px;
    top: 2%;
    left: 90%;
    background-image: url('/favorites-button.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    z-index: 1;
}


.discover-item button:hover {
    background-image: url('/favorites-button-clicked.png');
}*/

.discover-description {
    background-color: white;
    text-align: center;
    align-content: end;
    position: absolute;
    max-width: 55%;
    min-height: 35%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    box-shadow: rgb(255, 138, 0) 0px 0px 0px 3px, rgb(255,255,255) 0px 0px 0px 16px;
    overflow: hidden;
    white-space: pre-line;
}

    .discover-description h3 {
        margin-top: 6px;
        margin-bottom: -1px;
        font-weight: bold;
    }

    .discover-description h5 {
        font-size: 18px;
    }

    .discover-description p {
        font-weight: bold;
        font-size: 14px;
    }


#allrecipes-section {
    display: flex;
    width: 99%;
    height: 100%;
    margin: auto;
    border-radius: 20px;
    border: 5px solid gray;
    background-color: rgba(120,120,120, 0.3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0.5%;
}

#filter-tab {
    width: 25%;
    border: 2px solid darkgray;
    float: left;
    flex: 1;
}

    #filter-tab h3 {
        padding: 10px;
        font-weight: bold;
    }

#filter-search-container input {
    margin-left: 19%;
}

#filter-search-container button {
    width: 20%;
    text-align: center;
    border-radius: 1px;
    margin: 0px;
    padding: 0px;
}

#active-filters-list {
    margin-top: 20px;
}

.active-filter {
    width: auto;
    padding: 3px 13px;
    padding-right: 35px;
    font-weight: 100;
    position: relative;
    border: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

    .active-filter:after {
        position: absolute;
        font-family: 'Courier New';
        font-size: 16px;
        right: 10px;
        content: "-";
    }

    .active-filter:hover {
        background-color: darkred;
        color: red;
    }


/*Filter dropdown animation*/
nav.filter-button {
    width: 100%;
}

.filter-button span {
    padding: 10px;
    font-size: 1.2em;
    width: 100%;
}

.filter-collapse {
    width: 100%;
    background-color: #e07900;
    cursor: pointer;
    padding: 10px;
}

    /* Triangle dropdown symbol */
    .filter-collapse:after {
        float: right;
        right: 10%;
        font-size: 18px;
        content: "+";
    }

.filter-collapse-content {
    clear: both;
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-align: left;
    transition: height .4s ease;
}

    .filter-collapse-content li {
    }

#filter-collapse-trigger {
    position: absolute;
    opacity: 0;
    height: 0px;
}

    #filter-collapse-trigger:checked + .filter-collapse-content {
        height: 0px;
    }

.filter-collapse-content {
    list-style-type: none;
}


/*Filter dropdown end*/

#recipes-container {
    display: grid;
    width: 74.9%;
    border: 2px solid darkgray;
    float: right;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    /*grid-auto-rows: minmax(400px, auto);*/
    grid-auto-rows: min-content;
}

.recipe-item {
    width: 90%;
    margin: 10px;
    background: #ffad51;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
    transition: box-shadow 0.1s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

    .recipe-item:hover {
        transform: scale(1.01);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .recipe-item img {
        width: 100%;
        object-fit: cover;
        height: 40%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .recipe-item h3 {
        padding: 8px;
        font-weight: bold;
        background-color: white;
        border-top: 8px solid #e07900;
        color: black;
        /*#ffad51*/
    }

    .recipe-item h5 {
        padding-top: 10px;
        padding-left: 6px;
        padding-right: 5px;
        font-size: 18px;
        /*#ffad51*/
    }

    .recipe-item p {
        margin-top: 15%;
        padding-left: 5px;
        font-size: 18px;
        font-weight: bold;
        /*#ffad51*/
    }

.tags {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 2px 20px;
    font-weight: bold;
    border-radius: 10px;
    margin: 2px;
}

.recipe-item button {
    position: absolute;
    border: none;
    height: 50px;
    top: 40.5%;
    left: 83%;
    background-image: url('/favorites-button.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
}

    .recipe-item button:hover {
        background-image: url('/favorites-button-clicked.png');
    }

    .recipe-item button:active {
        background-image: url('/favorites-button-clicked.png');
    }


#heart-btn {
    background-image: url('/favorites-button.png');
}
