@page "/contact-us"
<PageTitle>Contact Us</PageTitle>

<div class="content">
    <img src="/Contact-Us.png" width="800" height="400">
     
    <div class="contact-info">
        
        <h1 class="contacts-header">Home Kitchen</h1>
        
        <div class="address">
            123 Street  <br />
            Calgary, AB
        </div>
        
        <div class="contact-phone">
            <img src="/phone.png" width="30" height="30"> (123) 456 - 7890
        </div>
       
        <div class="contact-email">
            <img src="/email.png" width="30" height="30"> contactus@homekitchen.ca
        </div>
        
    </div>
</div>