@page "/forgot-password"

<PageTitle>Password Reset</PageTitle>


<div id="login-box">
    <h2 id = "title">Password Reset</h2>
    <div>
    <sub id = "box-label">Enter Email</sub> 
    <input type="text" id="searchbar" name="searchbar" placeholder="Email"/>
    </div>
    <div>
    <a type="submit" id = "button-text" href="login">submit</a>
    
    </div>

</div>

@code {
}

