@page "/forgot-password"

<PageTitle>Password Reset</PageTitle>

<div id="login-box">
    <div id="logo">
    <img src="ChefM8-Logo.png"/>
    </div>
    <h2 id = "title">Password Reset</h2>
    <div>
    <sub id = "box-label">Enter Email</sub>
    <input type="text" id="searchbar" name="searchbar" placeholder="Email"/>
    </div>

    <div>
    <button id="register-button-box">
    <a class="submit" id = "button-text" href="login">submit</a>
    </button>
    </div>

</div>


@code {
}

