@page "/forgot-password"

<PageTitle>Password Reset</PageTitle>

<div id="login-box">
    <div id="logo">
    <img src="ChefM8-Logo.png"/>
    </div>
    <h2 id = "title">Password Reset</h2>
    <div>
    <sub id = "box-label">Enter Email</sub>
    <input type="text" @onchange="(e) => SetEmail(e.Value.ToString())" mail= email />

    @if (attempt && !checkEmail && !validEmail)
    {
            attempt = false;
            checkEmail = true;
        <sub id = "error-message">*invalid email*</sub>
    }

    </div>

    <div>
    <button @onclick="Authenticate" id="login-button-box" class="submit">submit</button>
    </div>

    @if(validEmail)
    {
        <div><h2 id = "space"></h2></div>
        <sub id = "confirmation">*if that email is registered with us we have sent a temporary password*</sub>
    }

</div>


@code {

    private bool attempt = false;
    private bool checkEmail = false;
    private bool validEmail = false;
    private string email = "";

    private void SetEmail(string mail) => email = mail;

    private void Authenticate()
    {
        attempt = true;
        checkEmail = false;

        @if (email != "")
        {
            validEmail = true;
        }
    }

}

