@page "/login"
@inject User user

<PageTitle>Login</PageTitle>

@inject NavigationManager NavManager

<div id="login-box">
    <div id="logo">
    <img src="ChefM8-Logo.png"/>
    </div>
    <h2 id = "title">Login</h2>
    <div>
    <sub id = "box-label">Username</sub>
    <input type="text" @onchange="(e) => SetUsername(e.Value.ToString())" user= username />
    </div>

    <div><h2 id = "space"></h2></div>

    <div>
    <sub id = "box-label">Password</sub> 
    <sub id = "invisible-label"></sub>
    <input type="text" @onchange="(e) => SetPassword(e.Value.ToString())" pass= password />
    </div>

    <div><h2 id = "smaller-space"></h2></div>

    <div>
    
    <a class="submit" id = "other-label" href="forgot-password">Forgot password?</a>

    <button @onclick="Authenticate" id="login-button-box" class="submit">login </button>

    @*<a type="submit" id = "button-text" href="recipes" @onclick=UserLogin>login</a>*@

    <sub id = "sub-label">Don't have an account?</sub> 

    <button id="register-button-box">
    <a class="submit" id = "button-text" href="register">register</a>
    </button>
    
    </div>

    <div><h2 id = "space"></h2></div>

    @if (loginAttempt)
    {
        loginAttempt = false;
        <div>
        <sub id = "error-message">*invalid username or password*</sub>
        </div>  
    }

</div>


@code {

    public List<string> Usernames => user.Usernames;
    public List<string> Passwords => user.Passwords;

    public void UserLogin()
    {
        MainLayout.Login();
    }

    private bool loginAttempt = false;
    private string username = "";
    private string password = "";
    private void SetUsername(string user) => username = user;
    private void SetPassword(string pass) => password = pass;
    private void Authenticate()
    {
        loginAttempt = true;

        @if(username == "adminUser" && password == "adminPass")
        {
            UserLogin();
            NavManager.NavigateTo("/recipes");
        }
        else if(username == "customerUser" && password == "customerPass")
        {
            UserLogin();
            NavManager.NavigateTo("/recipes");
        }
        else
        {
            @for (int i = 0; i < Usernames.Count; i++)
            {
                @if (username == Usernames[i] && password == Passwords[i])
                {
                    UserLogin();
                    NavManager.NavigateTo("/recipes");
                }
            }
        }
        
    }

}

