body {
    padding: 10%;
}

#home-searchbar-container {
    margin: auto;
    width: 20%;
    height: 50px;
}

#discover-section {
    display: block;
    width: 99%;
    height: 550px;
    margin: auto;
    background-color: darkgoldenrod;
    padding: 1%;
    overflow-x: scroll;
    white-space: nowrap;
}

.discover-item {
    display: inline-block;
    width: 800px;
    margin: 0 10px;
    height: 90%;
    background: rgba(0, 0, 0, 0.05) no-repeat center center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 10px #dfdfdf;
}

#allrecipes-section {
    width: 99%;
    height: 900px;
    margin: auto;
    background-color: dimgrey;
    padding: 1.5%;
}

#filter-tab {
    height: 100%;
    width: 25%;
    background-color: darkgray;
    float: left;
}

#recipes-container {
    height: 100%;
    width: 74.9%;
    background-color: darkgray;
    float: right;
}
