@page "/recipes"

<PageTitle>Recipes</PageTitle>

<div id="home-searchbar-container">
    <input type="text" id="searchbar" name="searchbar" placeholder="Search for recipes..."/>
    <button type="submit">Search</button>
</div>
<h2>Discover</h2>
<div id="discover-section">
    <div class="discover-item"></div>
    <div class="discover-item"></div>
    <div class="discover-item"></div>
    <div class="discover-item"></div>
    <div class="discover-item"></div>
    <div class="discover-item"></div>
    <div class="discover-item"></div>
    <div class="discover-item"></div>
</div>

<h2>All Recipes</h2>
<div id="allrecipes-section">
    <div id="filter-tab">
        <h2>Filters</h2>
        <hr />
        <input type="text" id="filtersearch" name="filtersearch" placeholder="Find a filter..."/>
        <button type="submit">Search</button>
        <hr />
        <button type="button" class="filter-collapse-button">Filter Category Dropdown</button>
        <div class="filter-collapse-content">
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
        </div>
        <button type="button" class="filter-collapse-button">Filter Category Dropdown</button>
        <div class="filter-collapse-content">
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
        </div>
        <button type="button" class="filter-collapse-button">Filter Category Dropdown</button>
        <div class="filter-collapse-content">
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
        </div>
        <button type="button" class="filter-collapse-button">Filter Category Dropdown</button>
        <div class="filter-collapse-content">
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
        </div>
        <button type="button" class="filter-collapse-button">Filter Category Dropdown</button>
        <div class="filter-collapse-content">
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
        </div>
        <button type="button" class="filter-collapse-button">Filter Category Dropdown</button>
        <div class="filter-collapse-content">
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
        </div>
        <button type="button" class="filter-collapse-button">Filter Category Dropdown</button>
        <div class="filter-collapse-content">
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
        </div>
        <button type="button" class="filter-collapse-button">Filter Category Dropdown</button>
        <div class="filter-collapse-content">
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
            <p>* Test Filter</p>
        </div>
    </div>
    <div id="recipes-container">
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
        <div class="recipe-item"></div>
    </div>
</div>

@code {
}