@page "/recipes"

<PageTitle>Recipes</PageTitle>

<div id="home-searchbar-container">
    <label for="searchbar">What are you looking for?</label>
    <input type="text" id="searchbar" name="searchbar" />
</div>
<h2>Discover</h2>
<div id="discover-section">
    <div class="discover-block"></div>
</div>

<h2>All Recipes</h2>
<div id="allrecipes-section">
    <div id="filter-tab">
        <h2>Filters</h2>
        <hr />
        <label for="filtersearch">What are you looking for?</label>
        <input type="text" id="filtersearch" name="filtersearch" />
        <hr />
    </div>
    <div id="recipes-container">
        <h2>Recipes</h2>
    </div>
</div>

@code {
}