@page "/register"

<PageTitle>Register</PageTitle>

<div id="login-box">
    <h2 id = "title">Register</h2>
    <div>
    <sub id = "box-label">Email</sub>
    <input type="text" id="searchbar" name="searchbar" placeholder="Email"/>
    </div>
    <div>
    <sub id = "box-label">Username</sub>
    <input type="text" id="searchbar" name="searchbar" placeholder="Username"/>
    </div>
    <div>
    <sub id = "box-label">Password</sub> 
    <input type="text" id="searchbar" name="searchbar" placeholder="Password"/>
    </div>
    <div>
    <a type="submit" id = "button-text" href="login">submit</a>
    
    </div>

</div>

@code {
}