#content {
    background-color: #ffad51;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 100px;
}

#title{
    font-size: 60px;
    margin: 20px;
    color: white;
    font-weight: bolder;
    text-align: center;
    border-bottom: 5px solid white;
}

.buttons{
    display: flex;
    justify-content: end;
}

.day{
    background-color: white;
    margin: 10px 0px;
    padding: 10px 50px;
}

.saved {
    background-color: #e07900;
    border: 1px solid black;
}

#add-recipes {
    position: fixed;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    right: 0;
    bottom: 0;
    margin: 30px;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    padding: 0px;
}

#add-recipes:hover {
    color: #ffad51;
}

a{
    text-decoration: none;
}

.recipes{
    display: flex;
    flex-wrap: wrap;
}

.recipe {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    height: 150px;
    width: 195px;
    background-color: black;
    color: white;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
}

.a:hover ~ .recipe{
    background-color: grey;
}

.edit-button {
    padding: 0px;
    margin: 5px 5px 0 0;
    align-self: flex-end;
    font-size: 24px;
    flex: 1;
    pointer-events: auto;
}

.buttons {
    display: flex;
    flex: 1;
}

.recipe-name {
    margin-top: 10px;
}

.recipe a {
    text-decoration: none;
}

.recipe-title {
    height: 110px;
}

.recipe-link {
    flex: 3;
    color: white;
}

.main-recipe-link {
    border-radius: 0 0 20px 20px;
}

.secondary-recipe-link {
    border-radius: 20px 0 0 0;
}

.recipe {
    pointer-events: none;
}

.recipe-link {
    pointer-events: auto;
}

.recipe:hover {
    color: orange;
    background-color: grey;
}

.recipe-button {
    flex: 3;
    width: 125px;
}